<html>
  <head>

    <!-- General Settings -->
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-us">
    <base href="{global.baseUrl}" />

    <!-- Meta Tags -->
    <title>{head.title} | {global.appName}</title>
    <meta name="description" content="{head.description}">

    <!-- Static Assets -->
    <link type="image/x-icon" rel="icon" href="http://localhost:3000/favicon.ico">
    <script type="text/javascript" charset="utf-8" src="http://localhost:3000/public/app.js"></script>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/public/app.css" />

  </head>
  <body class="{body.class}">
    <!-- Page Wrapper -->
    <div class="wrapper">
      <!-- Header -->
      <div class="header">
        <!-- Logo -->
        <a class="logo" href="/">
          <img src="http://localhost:3000/public/logo.png" alt="Logo" />
        </a>
        <!-- Navigation -->
        <ul class="menu">
          <li>
            <a href="/">Home</a>
          </li>
          <li class="loggedOut">
            <a href="http://localhost:3000/account/create">Signup</a>
          </li>
          <li class="loggedOut">
            <a href="http://localhost:3000/session/create">Login</a>
          </li>
          <li class="loggedIn">
            <a href="http://localhost:3000/todos/all">Dashboard</a>
          </li>
          <li class="loggedIn">
            <a href="http://localhost:3000/account/edit">Account Settings</a>
          </li>
          <li class="loggedIn">
            <a href="#" id="logoutButton">Logout</a>
          </li>
        </ul>

        <div class="clear"></div>
      </div>

      <!-- Page-Specific Content -->
      <div class="content">
